.icon-button{
    color: cadetblue !important;
    cursor: pointer;
}
.icon-button:hover{
    color:brown !important;
}
.el-table{
    --el-table-tr-bg-color:#fcfdfa !important;
    --el-table-row-hover-bg-color:#fcfdfa !important;
}
.el-collapse{
    border: none !important;
}
.el-collapse{
    --el-collapse-header-height: 24px !important;
    --el-collapse-header-bg-color: #fcfdfa !important;
    --el-collapse-content-bg-color: #fcfdfa !important;
}
.el-collapse-item_header{
    height:10vh;
}
.el-table__empty-block{
    background-color: #fcfdfa !important;
}